# ROS 2 build artifacts (Crucial to ignore)
main_ws/build/
main_ws/install/
main_ws/log/

# Local cache
.ccache/
.direnv/

# Python
__pycache__/
*.pyc

# Git
.git/
.gitmodules

# VS Code
.vscode/
.devcontainer/

# Docker files
Dockerfile
compose.yaml
.dockerignore
Makefile
.ccache/
