# ROS 2 build artifacts
build/
install/
log/

# Python artifacts
__pycache__/
*.pyc

# Simulation & Analysis data (DO NOT COMMIT)
*.db3
*.mcap
*.png
*_bag/
auto_test_bag/
step_test_bag/

# Binary & Design documents (DO NOT COMMIT)
*.pdf
*.STEP
*.stp
*.webp
*.png

# Environment
.envrc
.direnv/
