# direnv cached environment
.direnv/

# Nix build artifacts
result
result-*

# ROS 2 build artifacts
build/
install/
log/
.ccache/

# Python artifacts
__pycache__/
*.pyc
.venv/

# VS Code
.vscode/

# Docker
.docker/
